/* blue: #1f2937 
big text: 48px extra-bold #f9faf8
small text: 18px #e5e7eb
header logo text: 24px #f9faf8
button color: #3882f6
information header text: 36px extra-bold #1f2937
quote section background color: #e5e7eb
quote text: 36px light italic #1f2937
*/
/* .navRow{
    background-color:#1f2937;
   
}
.awe{
    font-size: 48px; 
    font-weight: bolder; 
    color:#f9faf8
}
.textCol{
    background-color:#1f2937;
    padding:50px
}
.imgCol{
    background-color: #1f2937;
    padding:50px
}
.intro{
    font-size:18px;
    color:#e5e7eb
} */

